<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Remove WWW from SDES" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www\.)([A-Za-z0-9\-]+\.)(sdes.ucf.edu)$" />
          </conditions>
          <action type="Redirect" url="http://{C:2}sdes.ucf.edu/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Remove WWW and Inject SDES from UCF" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www\.)([A-za-z0-9\-]+\.)(ucf.edu)$" />
          </conditions>
          <action type="Redirect" url="http://{C:2}sdes.ucf.edu/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Inject SDES Before UCF" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^([A-Za-z0-9\-]+\.)(ucf.edu)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}sdes.ucf.edu/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Lower Case URLs" stopProcessing="true"> 
          <match url="[A-Z]" ignoreCase="false" /> 
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"> 
            <add input="{URL}" pattern="\.axd" negate="true" /> 
          </conditions> 
          <action type="Redirect" url="{ToLower:{URL}}" /> 
        </rule>       
        <rule name="Trailing Slash" stopProcessing="true"> 
          <match url="^([A-Za-z0-9\-])+(.sdes.ucf.edu)([^/])*$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="\.axd$" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:0}/" redirectType="Permanent" />
        </rule> 
        <rule name="ID-Redirect1" stopProcessing="true">
          <match url="^index\.php$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" />
        </rule>
        <rule name="ID-Rewrite1" stopProcessing="true">
          <match url="^([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?id={R:1}" />
        </rule>
        <rule name="ID-Rewrite-Alt" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" />
        </rule>
        <rule name="XID-Redirect1" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)&amp;xid=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="/{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="XID-Rewrite1" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="?id={R:1}&amp;xid={R:2}" />
        </rule>
        <rule name="YID-Redirect1" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)&amp;xid=([^=&amp;]+)&amp;yid=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="/{C:1}/{C:2}/{C:3}" appendQueryString="false" />
        </rule>
        <rule name="YID-Rewrite1" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="?id={R:1}&amp;xid={R:2}&amp;yid={R:3}" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>