<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <clear />
          </rules>
        </rewrite>
      <httpProtocol>
        <customHeaders>
          <clear />
          <add name="X-UA-Compatible" value="IE=Edge" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
</configuration>